.cardCont {
  @include cardStyle();
  padding: 10px;
  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    background-color: white;
    cursor: default;
    @media (min-width: 1000px) {
      font-size: 20px;
    }
    @media (min-width: 800px) {
      font-size: 15px;
    }
    @media (min-width: 600px) {
      font-size: 12px;
    }
    font-size: 7px;
    .cardRow {
      display: flex;
      .rowLabel {
        width: 10%;
        border: solid 1px;
      }
      .innerRow {
        width: 70%;
        display: flex;
        .cardCell {
          border: solid 1px;
        }
      }
      .spacer {
        border: solid 1px;
        width: 10%;
        text-align: center;
      }
      .spacer1 {
        background-color: antiquewhite;
      }
    }
    .playerCont {
      .playerRow {
        width: 100%;
        display: flex;
        .playerLabel {
          border: solid 1px;
          width: 10%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .material-icons{
            font-size: 15px;
            margin-right: 6%;
            cursor: pointer;
          }
        }
        .innerRow{
          width: 70%;
          display: flex;
          .cardCell {
            border: solid 1px;
            cursor: text;
          }
        }
        .totalScore {
          border: 1px solid;
          width: 10%;
          text-align: center;
        }
        .hcp {
          border: 1px solid;
          width: 10%;
          background-color: antiquewhite;
          text-align: center;
        }
      }
    }
    .cardCell {
      text-align: center;
    }
    input {
      margin: 0px;
      padding: 0;
    }
    .buttonRow {
      display: flex;
      justify-content: center;
      border: solid 1px black;
      button {
        width: 100%;
        border-radius: 0;
      }
    }
    button {
      box-shadow: none;
      background-color: #d0d0d0;
    }
    button:hover {
      background-color: #8a8a8a;
    }
  }
}