.startCont{
  @media (min-width: 800px) {
    width: 50%;
  }
  @media (min-width: 1200px) {
    width: 35%;
  }
  width: 100%;
  margin: 15% auto;
  height: 50%;
  border-radius: 10px;
  background-color: $green;
  @include depth(2, #222);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .courseSelect {
    height: 40px;
    font-size: 20px;
  }
}