.startCont{
  @media (min-width: 800px) {
    width: 50%;
  }
  @media (min-width: 1200px) {
    width: 35%;
  }
  width: 100%;
  height: 50%;
  @include cardStyle();
  .courseSelectCont {
    font-size: 20px;
    .courseSelect {
      height: 40px;
      font-size: 20px;
    }
  }
  .locationSelectCont {
    label {
      font-size: 20px;
    }
    input {
    }
  }
}
.innerCont {
  @include roboto();
  padding-top: 20px;
  //color: $textColor;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .inputCont {
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 3px;
  }
}