@import "variables";
@import "courseSelect";
html{
  @include bodyStyle();
  body{
    @include bodyStyle();
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../image/golfBackgroundImage.jpg");
    overflow: hidden;
    .hidden {
      display: none;
    }
  }
}