@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto-Bold.ttf"); }
.startCont {
  width: 100%;
  height: 50%;
  margin: -20px auto;
  border-radius: 10px;
  background-color: #176014;
  box-shadow: 6px 6px 30px 0px #222;
  z-index: 2; }
  @media (min-width: 800px) {
    .startCont {
      width: 50%; } }
  @media (min-width: 1200px) {
    .startCont {
      width: 35%; } }
  .startCont .courseSelectCont {
    font-size: 20px; }
    .startCont .courseSelectCont .courseSelect {
      height: 40px;
      font-size: 20px; }
  .startCont .locationSelectCont input {
    height: 40px;
    width: 80px;
    text-align: center;
    -webkit-appearance: none;
    background-color: #f1f1f1;
    border-radius: 2px;
    border: none;
    margin: 10px; }
  .startCont .locationSelectCont .inputSelected {
    top: -18px; }

.innerCont {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  color: #d0d0d0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.cardCont {
  margin: -20px auto;
  border-radius: 10px;
  background-color: #176014;
  box-shadow: 6px 6px 30px 0px #222;
  z-index: 2;
  padding: 10px; }
  .cardCont .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    background-color: white;
    cursor: default;
    font-size: 7px; }
    @media (min-width: 1000px) {
      .cardCont .card {
        font-size: 20px; } }
    @media (min-width: 800px) {
      .cardCont .card {
        font-size: 15px; } }
    @media (min-width: 600px) {
      .cardCont .card {
        font-size: 12px; } }
    .cardCont .card .cardRow {
      display: flex; }
      .cardCont .card .cardRow .rowLabel {
        width: 10%;
        border: solid 1px; }
      .cardCont .card .cardRow .innerRow {
        width: 70%;
        display: flex; }
        .cardCont .card .cardRow .innerRow .cardCell {
          border: solid 1px; }
      .cardCont .card .cardRow .spacer {
        border: solid 1px;
        width: 10%;
        text-align: center; }
      .cardCont .card .cardRow .spacer1 {
        background-color: antiquewhite; }
    .cardCont .card .playerCont .playerRow {
      width: 100%;
      display: flex; }
      .cardCont .card .playerCont .playerRow .playerLabel {
        border: solid 1px;
        width: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .cardCont .card .playerCont .playerRow .playerLabel .material-icons {
          font-size: 15px;
          margin-right: 6%;
          cursor: pointer; }
      .cardCont .card .playerCont .playerRow .innerRow {
        width: 70%;
        display: flex; }
        .cardCont .card .playerCont .playerRow .innerRow .cardCell {
          border: solid 1px;
          cursor: text; }
      .cardCont .card .playerCont .playerRow .totalScore {
        border: 1px solid;
        width: 10%;
        text-align: center; }
      .cardCont .card .playerCont .playerRow .hcp {
        border: 1px solid;
        width: 10%;
        background-color: antiquewhite;
        text-align: center; }
    .cardCont .card .cardCell {
      text-align: center; }
    .cardCont .card input {
      margin: 0px;
      padding: 0; }
    .cardCont .card .addPlayerRow {
      display: flex;
      justify-content: center; }
      .cardCont .card .addPlayerRow button {
        width: 100%;
        border-radius: 0; }
    .cardCont .card button {
      box-shadow: none;
      background-color: #d0d0d0; }
    .cardCont .card button:hover {
      background-color: #8a8a8a; }

.loadCont {
  width: 100%;
  position: relative;
  bottom: 110px; }
  .loadCont .loadBar {
    width: 100%;
    height: 4px; }

.actionMenu {
  position: relative;
  top: -20px;
  right: 20px;
  padding: 5px;
  width: 110px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  z-index: 2; }
  .actionMenu .actionMenuContent {
    padding: 5px 0;
    width: 0px;
    height: 0px;
    overflow: hidden; }
    .actionMenu .actionMenuContent ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif; }
      .actionMenu .actionMenuContent ul li {
        cursor: pointer;
        padding: 0 5px; }
  .actionMenu .actionMenuOpen {
    background-color: #f1f1f1;
    border-radius: 2px;
    height: 100px;
    width: 110px;
    box-shadow: 6px 6px 30px 0px #4f4f4f;
    z-index: 2; }
  .actionMenu .liFocus {
    background-color: #d2d2d2; }

.loadCont {
  width: 100%;
  position: relative;
  bottom: 110px; }
  .loadCont .loadBar {
    width: 100%;
    height: 4px; }

.heroBar {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column; }
  .heroBar .content {
    height: 40px;
    width: 100%;
    display: flex;
    background-color: #176014;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 6px 30px 0px #444444;
    z-index: 2; }
    .heroBar .content .dropDownMenuCont {
      width: 32px;
      position: relative; }
    .heroBar .content .material-icons {
      color: #d0d0d0;
      font-size: 30px;
      cursor: pointer; }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto-Bold.ttf"); }
.editPlayerCont {
  background-color: rgba(0, 0, 0, 0.67);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 40px;
  display: flex; }
  .editPlayerCont .editPlayerMenu {
    width: 40%;
    height: 40%;
    background-color: #f1f1f1;
    box-shadow: 6px 6px 30px 0px #212121;
    z-index: 2;
    margin: 10% auto;
    position: relative;
    top: 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .editPlayerCont .editPlayerMenu .playerNameCont {
      width: 80%; }
    .editPlayerCont .editPlayerMenu .playerHCPCont {
      width: 80%; }
  .editPlayerCont .menuHidden {
    top: -700px; }
  .editPlayerCont .mdl-textfield__input, .editPlayerCont .mdl-textfield__label {
    text-align: center; }
  .editPlayerCont button {
    width: 30%;
    margin: 5px auto; }

.editPlayerContHidden {
  background-color: rgba(0, 0, 0, 0); }

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }
  html body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../image/golfBackgroundImage.jpg");
    overflow: hidden; }

.hidden {
  display: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input, select {
  background-color: #f1f1f1;
  font-size: 20px;
  margin: 20px; }

input:focus, select:focus, button:focus {
  outline: none; }

.inputSelected {
  width: 0px;
  height: 2px;
  border-radius: 2px;
  position: relative;
  background-color: #141fa7; }

button {
  font-size: 20px;
  border-radius: 3px;
  padding: 7px 10px;
  background-color: #141fa7;
  border: none;
  box-shadow: 1.5px 1.5px 30px 0px #222;
  z-index: 0.5; }

button:hover {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
