@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: RobotoBold;
  src: url('../fonts/Roboto-Bold.ttf');
}
@mixin cardStyle() {;
  margin: -20px auto;
  border-radius: 10px;
  background-color: $green;
  @include depth(2, #222);
}
@mixin roboto() {
  font-family: 'Roboto', sans-serif;
}
@mixin robotoBold() {

}
@mixin bodyStyle() {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
@mixin depth($height, $color) {
  box-shadow: 3px*$height 3px*$height 30px 0px $color;
  z-index: $height;
}
$green: #176014;
$blue: #141fa7;
$textColor: #d0d0d0;
$inputBackground: #f1f1f1;