@mixin bodyStyle() {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
@mixin depth($height, $color) {
  box-shadow: 4px*$height 4px*$height 10px 0px $color;
  z-index: $height;
}
$green: #176014;